@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 14px;
  border-radius: 8px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
}

.navigation-logo {
  position: relative;
  height: 64px;
  width: 140px;
}

.navigation-logo-image {
  position: absolute;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 339px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-item {
  margin-right: 19px;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
  justify-content: end;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


/* .navigation-link:active {
  color:red;
} */

.navigation-link-search {
  background-image: url("../images/search.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.navigation-link-favorites {
  background-image: url("../images/heard.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero {
  color: #000000;
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("../images/devider.png"), url("../images/sedona-background-main.jpg");
  background-position: bottom;
  padding-top: 60px;
  padding-bottom: 60px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-block {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 33%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-item.advantages-item-wide {
  width: 66%;
}

.advantages-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.advantages-dark {
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title--dark {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-light {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title--light {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-medium {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title--medium {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.services-block {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.services-title--block {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-gift {
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.newsletter-main {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/newsletter-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}

.button-main {
  background-color: #82b3d3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  background-color: #ffffff;
}

.number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.booking-choice {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/form-mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-main {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
}

.booking-name,
.booking-price-name {
  font-size: 20px;
  line-height: 24px;
}

.booking-price-choice {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.booking-form {
  font-size: 18px;
  line-height: 23px;
}

.booking-button-reset {
  background-color: transparent;
}

.hotels-catalog {
  background-color: #ffffff;
}

.hotels-all-title {
  font-size: 30px;
  line-height: 36px;
}

.hotels-catalog--title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.button--active {
  background-color: #7db54f;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  width: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link--active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link--more {
  color: #000000;
  background-color: #ffffff;
}

/* .advantages-conteiner-img {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-image {
  display: inline;
}

.advantages-conteiner {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 385px;
}

.services-conteiner {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.footer-social-list {
  width: 170px;
}

.namber {
  width: 720px;
}

.logo {
  width: 140px;
} */
