@font-face {
    font-family: "PT Sans";

    font-style: normal;
    font-weight: 400;

    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;

}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;

}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756157;

}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.main-index {
    color: #000000;
    background-color: ##82B3D3;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../images/sedona-background-main.jpg");
}

.main-block {
    background-color: #ffffff;
    text-align: center;
}

.main-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.main-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages-dark {
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-title--dark {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-light {
    text-align: center;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title--light {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.advantages-medium {
    text-align: center;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title--medium {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

/* вопрос */

.services-block {
    text-align: center;
    color: #333333;
    background-color: #ffffff;
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.services-title--block {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.newsletter-main {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/newsletter-image.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.newsletter-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-text {
    font-size: 22px;
    line-height: 26px;
}

.button-main {
    background-color: #82B3D3;
}

.number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

.booking-choice {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/form-mountains.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.booking-main {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-list {
    font-size: 16px;
    line-height: 21px;
}

.booking-name, .booking-price-name {
    font-size: 20px;
    line-height: 24px;
}

/* вопрос */

.booking-form {
    font-size: 18px;
    line-height: 23px;
}

/* вопрос */

.booking-button1 {
    background-color: rgba(130, 179, 211, 0);
}

.hotels-all-title {
    font-size: 30px;
    line-height: 36px;
}

.hotels-catalog--title {
    font-size: 24px;
    line-height: 28px;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
}

/* вопрос */

.button-green {
    background-color: #7DB54F;
}
