@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  width: 160px;
  height: 36px;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
}

.shadow-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  margin: 0 auto;
  /* rgba(0, 0, 0, 0.2) */
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  padding-left: 70px;
}

.navigation-logo {
  position: relative;
  height: 64px;
  width: 140px;
  margin-right: 45px;
}

.navigation-logo-image {
  position: absolute;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-item {
  margin-right: 32px;
}

.navigation-user {
  width: 310px;
  margin-left: auto;
  justify-content: end;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-main {
  position: relative;
}

.navigation-main::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -20px;
  height: 2px;
  width: 70px;
  background-color: #756257;
}

.navigation-link-hotels {
  position: relative;
}

.navigation-link-hotels::after {
  position: absolute;
  content: "";
  left: -2px;
  bottom: -20px;
  height: 2px;
  width: 93px;
  background-color: #756257;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.navigation-link-favorites {
  background-image: url("../images/heard.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin: -5px;
}

.favorites-number {
  position: absolute;
  top: -13px;
  right: -6px;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  margin-left: 3px;
}

.hero {
  color: #000000;
  background-color: #82b3d3;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat no-repeat;
  background-image: url("../images/devider.png"), url("../images/sedona-background-main.jpg");
  background-position: bottom center, center center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-block {
  background-color: #ffffff;
  text-align: center;
}

.main-block-plus {
  margin: 0;
  padding: 70px 270px;
}

.about {
  margin: 0;
  margin-top: 20px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 1px;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-top: 23px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 113px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 399px;
}

.advantages-image {
  height: 100%;
  object-fit: cover;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item.advantages-item-wide {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-inner-wide {
  height: 100%
}

.advantages-inner-narrow {
  padding: 102px 85px;
}


.advantages-dark {
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title--dark {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.advantages-title--dark::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 50%;
  bottom: -35px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-50%);
}

.advantages-decoration {
  position: relative;
}

.advantages-decoration::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 50%;
  bottom: -35px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-light {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title--light {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-medium {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title--medium {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-conteiner {
  /* display: flex;
  flex-direction: column; */
  margin: 0;
  padding: 64px 347px;
  text-align: center;
}

.services-title-main {
  margin: 0;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 82px 81px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  padding-top: 182px;
}

.services-house::after {
  display: block;
  content: "";
  position: absolute;
  top: 81px;
  width: 75px;
  height: 72px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  margin: 0;
}

.services-block {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.services-food::after {
  display: block;
  content: "";
  position: absolute;
  top: 81px;
  width: 75px;
  height: 72px;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.services-title--block {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-gift::after {
  display: block;
  content: "";
  position: absolute;
  top: 81px;
  width: 75px;
  height: 72px;
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.hotels {
  padding: 96px 304px;
  text-align: center;
}

.hotels-title {
  margin: 0;
  margin-bottom: 20px;
}

.hotels-button {
  width: 376px;
  height: 52px;
  margin: 0;
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-main {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/newsletter-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.button-newsletter {
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form-mail {
  font-family: "PT Sans";
  font-size: 18px;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
}

.footer-social-item {
  display: flex;
  list-style: none;
  width: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer-social-images {
  padding: 0px, 10px, 0px, 10px;
}

.number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  align-items: center;
}

.booking-choice-main {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/form-mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-main {
  font-size: 60px;
  line-height: 78px;
  margin: 35px 235px 8px 70px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  list-style: none;
  padding: 0 946px 40px 70px;
}

.breadcrumbs-item::after {
  content: ">";
  padding: 0 5px;
}

.breadcrumbs-item:last-child::after {
  content: "";
}

.booking-item {
  display: flex;
  align-items: center;
}

.control-mark {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  margin: 2px 10px 2px 0;
  position: relative;
  background-color: #ffffff;
}

.booking-choice-in + .control-mark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: none;
  background-image: url(../images/check.svg);
  /* background-color: #ffffff; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  top: 0;
  left: 0;
}

.booking-choice-in:checked + .control-mark::before {
  content: "";
  display: block;
}

.booking-type-item {
  display: flex;
  align-items: center;
}

.control-mark-hotels {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 2px 10px 2px 0;
  position: relative;
  background-color: #ffffff;
}

.booking-housing-type + .control-mark-hotels::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: none;
  background-image: url(../images/dot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  top: -1px;
  left: -1px;
}

.booking-housing-type:checked + .control-mark-hotels::before {
  content: "";
  display: block;
}

/* .booking-choice {
  padding: 0 70px 73px 70px;
} */

.booking-name,
.booking-price-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

/* .booking-choice-type {
  padding-bottom: 16px;
} */

.booking-price-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 140px;
}

.booking-price-item {
  flex-grow: 1;
  flex-basis: 0;
  width: 50%;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: red;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #000000;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #000000;
}

.toggle-min {
  top: -8px;
  left: -150px;
}

.toggle-max {
  top: -8px;
  right: 81px;
}

/* .booking-price-range {
  flex-basis: 100%;
  flex-grow: 1;
} */

/* .booking-variants-list > li === .booking-item */
.booking-variants-list > li {
  padding-bottom: 18px;
}

/* .booking-item, .booking-type-item {
  padding-bottom: 8px;
}

.booking-type-item:last-child, .booking-item:last-child  {
  padding-bottom: 0;
} */

.booking-variants-list > li:last-child {
  padding-bottom: 0;
}

.booking-price-choice {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 12px 78px 12px 20px;
  width: 143px;
  margin-bottom: 36px;
  background-color: #f2f2f2;
  border: none;
}

.booking-price-min {
  border-radius: 4px 0 0 4px;
  position: relative;
}

.booking-price-min::after {
  position: absolute;
  content: "ОТ";
  color: rgba(0, 0, 0, 1);
}

.booking-price-max {
  border-radius: 0 4px 4px 0;
  position: relative;
  margin-left: 2px;
}

.booking-price-max::after {
  content: "ДО";
  position: absolute;
  color: rgba(0, 0, 0, 1);
}

/* .booking-price-min {
  margin-left: 2px;
} */

.booking-form {
  font-size: 18px;
  line-height: 23px;
  display: grid;
  grid-template-columns: 151px 151px 290px 191px;
  column-gap: 70px;
  margin: 0 auto;
  padding-left: 70px;
  padding-bottom: 70px;
}

.booking-form fieldset {
  border: none
}

.booking-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.booking {
  padding: 0;
}

/* .buttons-wrapper {
  padding-left: 70px;
  align-items: center;
} */

.button-main {
  width: 190px;
  height: 36px;
  border-radius: 4px;
  background-color: #82b3d3;
  margin-bottom: 32px;
}

.booking-button-reset {
  width: 190px;
  height: 36px;
  background-color: transparent;
  list-style: none;
}

.hotels-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.hotel-view-list {
  display: flex;
  list-style: none;
  /* width: 400px; */
  margin: 50px 70px 40px;
  padding: 0;
  align-items: center;
}

.select-control {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 14px 131px 14px 20px;
  background-color: #ffffff;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
}

.select-control::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 7px;
  display: block;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: -2px;
  left: -1px;
}

.hotel-view-item {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
  align-items: center;
}

.hotel-view-item:last-child {
  margin-right: 0;
}

.hotel-view-main {
  border-color: #000000;
}

.hotel-net {
  background-image: url(../images/net.svg);
  display: block;
  width: 16px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hotel-description {
  background-image: url(../images/description.svg);
  display: block;
  width: 16px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hotel-list {
  background-image: url(../images/list.svg);
  display: block;
  width: 16px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hotels-catalog {
  background-color: #ffffff;
}

.hotels-all-title {
  font-size: 30px;
  line-height: 36px;
  margin: 7px 175px 7px 70px;
}

.hotels-catalog--title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-rating-star {
  background-image: url(../images/star.svg);
  /* background-size: 100% auto; */
  background-repeat: repeat-x;
  text-align: center;
  padding: 10px 50x 10px 0;
  width: 71px;
  /* height: 37px; */
  margin-top: 16px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  width: 140px;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.hotels-catalog--list {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 70px;
}

.hotels-catalog--item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
}

.hotel-link {
  display: block;
  text-decoration: none;
  list-style: none;
  grid-column: 1 / -1;
  color: #000000;
}

.button-hotel {
  width: 140px;
  padding: 8px 18px;
  background-color: #82b3d3;
}

.button-hotel-link {
  width: 140px;
  padding: 8px 18px;
}

.button--active {
  background-color: #7db54f;
}

.hotels-line {
  position: relative;
}

.hotels-line::after {
  position: absolute;
  content: "";
  bottom: -40px;
  width: 1060px;
  border: 1px solid #e6e6e6;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  width: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: 700;
}

.pagination-link--active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link--more {
  color: #000000;
  background-color: #ffffff;
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 80px 660px 60px 70px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.newsletter-title-catalog {
  margin-top: 96px;
}
