@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  width: 160px;
  height: 36px;
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  padding-left: 70px;
}

.navigation-logo {
  position: relative;
  height: 64px;
  width: 140px;
}

.navigation-logo-image {
  position: absolute;
  padding-right: 30px;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-item {
  margin-right: 19px;
}

.navigation-user {
  width: 310px;
  margin-left: auto;
  justify-content: end;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}


.navigation-link:active {
  position: relative;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.navigation-link-favorites {
  background-image: url("../images/heard.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero {
  color: #000000;
  background-color: #82b3d3;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat no-repeat;
  background-image: url("../images/devider.png"), url("../images/sedona-background-main.jpg");
  background-position: bottom center, center center;
  /* для чего эти падинги? */
  padding-top: 60px;
  padding-bottom: 60px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-block {
  background-color: #ffffff;
  text-align: center;
}

.main-block-plus {
  margin: 0;
  padding: 70px 270px 90px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 113px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.advantages-item.advantages-item-wide {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
}

.advantages-inner-wide {
  height: 100%
}

.advantages-inner-narrow {
padding: 102px 85px;
}


.advantages-dark {
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title--dark {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-light {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title--light {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-medium {
  text-align: center;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title--medium {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-conteiner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 64px 348px 110px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 85px 81px;;
  flex-grow: 1;
  flex-basis: 0;
}

.services-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.services-block {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.services-title--block {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-gift {
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.hotels {
  padding: 96px 304px;
  text-align: center;
}

.newsletter-main {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/newsletter-image.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}

.button-main {
  background-color: #82b3d3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px; */
}

.footer-social-list {
  display: flex;
  list-style: none;
  width: 339px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.booking-choice {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/form-mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-main {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumbs-item::after {
  content: ">";
  padding: 0 5px;
}

.breadcrumbs-item:last-child::after {
  content: "";
}

.booking-name,
.booking-price-name {
  font-size: 20px;
  line-height: 24px;
}

.booking-price-list {
  display: flex;
  flex-wrap: wrap;
}

.booking-price-item {
  flex-grow: 1;
  flex-basis: 0;
}

.booking-price-range {
  flex-basis: 100%;
  flex-grow: 1;
}

/* .booking-variants-list > li === .booking-item */
.booking-variants-list > li {
  padding-bottom: 8px;
}

/* .booking-item, .booking-type-item {
  padding-bottom: 8px;
}

.booking-type-item:last-child, .booking-item:last-child  {
  padding-bottom: 0;
} */

.booking-variants-list > li:last-child {
  padding-bottom: 0;
}

.booking-price-choice {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: 100%;
}

.booking-form {
  font-size: 18px;
  line-height: 23px;
  display: flex;
}

.booking-form fieldset {
  border: none
}

.booking-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.booking {
  flex-basis: 0;
  flex-grow: 1;
}

.booking-button-reset {
  background-color: transparent;
}

.hotels-catalog {
  background-color: #ffffff;
}

.hotels-all-title {
  font-size: 30px;
  line-height: 36px;
}

.hotels-catalog--title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.button--active {
  background-color: #7db54f;
}

.hotels-catalog--list {
  display: grid;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.hotels-catalog--item {
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  padding: 25px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  width: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 15px 25px;
  border-radius: 4px;
  display: block;
  font-weight: 700;
}

.pagination-link--active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link--more {
  color: #000000;
  background-color: #ffffff;
}

.hotel-link {
  display: block;
  /* почему подчеркнуто */
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.newsletter {
  padding: 96px 258px 104px;
}
